@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
}

div, main {
    box-sizing: border-box;
}

body {
    background-color: #0B2434;
    font-size: 16px;
    font-family: Inter, sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tenzies--container {
    background-color: #e1e1e1;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.tenzies--header-wrapper {
    padding: 2rem 3rem;
    text-align: center;
}

.tenzies--dice-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tenzies--die {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    margin: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.tenzies--die:hover {
    cursor: pointer;
}

.tenzies--button-wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.tenzies--roll {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #5035FF;
    border: 1px solid #5035FF;
    border-radius: 5px;
    padding: .75rem 3rem;
    color: #fff;
    cursor: pointer;
}